body {
  margin: 0;
  font-family: Arial;
  background: url('https://images.unsplash.com/photo-1524985069026-dd778a71c7b4') no-repeat center center/cover;
  height: 100vh;
  color: white;
}

/* Dark overlay */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: -1;
}

/* Login Page */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-box {
  background: rgba(0, 0, 0, 0.8);
  padding: 40px;
  width: 300px;
  border-radius: 5px;
  text-align: center;
}

.login-box h1 {
  color: red;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
}

.login-box button {
  width: 100%;
  padding: 10px;
  background: red;
  color: white;
  border: none;
  cursor: pointer;
}

/* Dashboard */
.dashboard {
  padding: 40px;
  text-align: center;
}

.movies {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.movie {
  width: 150px;
  height: 200px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}
